@{
    ViewBag.Title = "Home Page";
}

<h1>Sales data presented in charts!</h1>

<p>
    <button type="button" class="btn">
        @Html.ActionLink("Sales data - ProductA", "ProductA")
    </button>
</p>

<p>
    <button type="button" class="btn">
        @Html.ActionLink("Sales data - ProductB", "ProductB")
    </button>
</p>