<html>

<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        #chart_container{
            width: 800px;
            height: 400px;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }
    </style>

</head>

<body>

    <div id="chart_container">
        <canvas id="line_chart"></canvas>

    </div>

    <br />

    <button class="btn-success" id="btn1" onclick="prodAs()">Show productA</button>
    <button class="btn-danger" id="btn1" onclick="prodAh()">Hide productA</button>
    <br />
    <button class="btn-success" id="btn2" onclick="prodBs()">Show productB</button>
    <button class="btn-danger" id="btn2" onclick="prodBh()">Hide productB</button>
    <br />
    <br />

    <label>From: </label>
    <input type="datetime" id="from" name="from"/>
    <label>To: </label>
    <input type="datetime" id="to" name="from" />
    <button class="btn-default" id="btn1" onclick="setFilter()">Show products</button>


    <script>

        var amountA =  @Html.Raw(Json.Encode(ViewBag.AmountA));
        var amountB = @Html.Raw(Json.Encode(ViewBag.AmountB));
        var dates = [];

        function prodAs() {
            lineChart.data.datasets[0].data = amountA;
            this.lineChart.update();
        }

        function prodAh() {
            lineChart.data.datasets[0].data = [];
            this.lineChart.update();
        }

        function prodBs() {
            lineChart.data.datasets[1].data = amountB;
            this.lineChart.update();
        }

        function prodBh() {
            lineChart.data.datasets[1].data = [];
            this.lineChart.update();
        }

        function setFilter() {
            var d1 = Date.parse(from.value);
            var d2 = Date.parse(to.value);
            var newDate = [];
            newDate[0] = d1;

            function addDays(date, days) {
                var result = new Date(date);
                result.setDate(result.getDate() + days);
                return result;
            }

            for (var i = 1; newDate[i-1] < d2; i++)
            {
                var temp = newDate[i - 1];
                newDate[i] = addDays(temp, 1);
            }

            lineChart.data.labels = newDate;
            this.lineChart.update();
        }

        @foreach(var item in ViewBag.DATES)
        {
            @:dates.push("@item");
        }


        var ctx = $("#line_chart");
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: "ProductA",
                        //data: amountA,
                        backgroundColor: ["rgba(152,166,54,.5)", "rgba(145,65,72,.5)", "rgba(74,25,92,.5)"],
                        borderColor: ["rgb(152, 166, 54)", "rgb(145,65,72)", "rgb(74,25,92)"],
                        borderWidth: 1
                    },
                    {
                        label: "ProductB",
                        //data: amountB,
                        backgroundColor: ["rgba(242,166,54,.5)", "rgba(145,65,72,.5)", "rgba(74,25,92,.5)"],
                        borderColor: ["rgb(242, 166, 54)", "rgb(145,65,72)", "rgb(74,25,92)"],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: { xAxis: [{ ticks: { beginAtZero: true } }] },
                legend: {disply:false}
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        LabelString: 'Name'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Amount'
                    }
                }]
            }
        });
    </script>

</body>

</html>

